#contactable #contactable_inner {
	background-image:url(images/wcontact.png);
	color:#191919;
	background-color:#191919;
	cursor:pointer;
	height:102px;
	left:0;	
	margin-left:-5px; 
	*margin-left:-5px; 
	overflow:hidden;
	position:absolute;
	*position:absolute;
	text-indent:-100000px;
	top:100px;
	*margin-top:10px;
	width:44px;
	z-index:100000;
}


#contactable #contactForm {
	background-color:#191919;
	color:#FFFFFF;
	height:507px;
	position:absolute;
	top: 100px;
	left:0;
	margin-left:-400px;
	*margin-left:-434px;
	overflow:hidden;
	padding-left:30px;
	width:360px;
	*width:394px;
	z-index:99;
}

#contactable form#contactForm input, textarea {
	background:#FFFFFF none repeat scroll 0 0;
	outline-style:none;
	outline-width:medium;
	width:325px;
	padding:5px;
	border:1px solid #dfdfdf;
	font-family: Verdana;
	font-weight:bold;
	font-size:12px;
	margin-bottom:10px;
}

#contactable form#contactForm .submit {
	background: red none repeat scroll 0 0;
	outline-style:none;
	outline-width:medium;
	width:325px;
	padding:5px;
	border:3px solid red;
	outline-color:-moz-use-text-color;
	font-family: Verdana;;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
	color:#FFF;
	text-transform:uppercase;
	font-family:Verdana;
	font-weight:bold;
	margin-top:10px;
}

#contactable form#contactForm p {
	width:325px;
	font-size:12px;
}

#contactable form#contactForm .disclaimer {
	*margin-left:20px;
}

#contactable #contactForm .red {
	color:	#F5410F;
}

#contactable #overlay {
	background-color:#000;
	display:none;
	height:100%;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
} 
#contactable .error { background-color: #EDBE9C; }

#contactable #name.error { background-color: #EDBE9C; } 
#contactable #email.error { background-color: #EDBE9C; }
#contactable #comment.error { background-color: #EDBE9C; }

#contactable form#contactForm label{
	*margin-left:20px;
}

#contactable form#contactForm #loading {
	background: url(images/ajax-loader.gif) no-repeat;
	width:55px;
	height:55px;
	margin: 100px auto;
	display:none;
}

#contactable #callback {
	font-family: Verdana;
	font-weight:bold;
	font-size:12px;
	color: #FFF;
	width:325px;
	margin: 100px auto;	
	display:none;
}


#contactable .holder {
	margin:0 auto;
	*margin-left:20px;
	padding-top:20px;	
}	
